{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-multi-spaces": "error",
    "no-trailing-spaces": "error",
    "eol-last": "error"
  },
  "ignorePatterns": [
    "client",
    "dist"
  ]
}
